.cart {
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 18px;
        font-weight: 500;
        border-bottom: 1px solid $gray-600;
        padding: 24px;
    }
    &__info {
        padding: 15px 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 15px;
        font-weight: 500;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        padding: 5px 20px;
        // justify-content: flex-end;
        border-bottom: 1px solid $gray-600;
        flex: 1;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
        padding: 8px;
        &:hover {
            background: rgba(18, 18, 18, 0.04);
            border-radius: 12px;
        }
    }
    &__item:hover &__trash {
        display: block;
    }
    &__item:hover &__price {
        display: none;
    }
    &__trash {
        display: none;
        margin-left: 20px;
        font-size: 18px;
        transition: all 0.25s ease-in-out;
        &:hover {
            cursor: pointer;
            opacity: 0.5;
        }
    }
    &__image {
        width: 60px;
        height: 60px;
        border-radius: 8px;
        margin-right: 10px;
    }
    &__name {
        font-size: 15px;
        line-height: 20px;
        flex: 1;
    }
    &__name-product {
        font-weight: 600;
        font-size: 16px;
    }
    &__name-product,
    &__name-author {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
    }
    &__total {
        padding: 24px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        font-weight: 600;
        font-size: 16px;
        &-price {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        &-dolar {
            font-weight: normal;
        }
    }
    &__purchase {
        margin: 0 auto;
        padding-bottom: 24px;
    }

    &__clear {
        cursor: pointer;
        font-size: 20px;
        transition: all 0.25s ease-in-out;
        &:hover {
            transform: all 0.2s linear;
            color: $gray-color;
        }
    }
}

@media screen and (max-width: 640px) {
    .cart {
    }
}
